form.password {
    padding: 1.5rem 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .75);
    margin: 0 auto;
    max-width: 75%;
}
form.password label {
    display: block;
    font-size: 18px;
}

form.password fieldset {
    max-width: 300px;
    margin: 0 auto;
}

form.password input[type="password"] {
    display: block;
    font-size: 14px;
    padding: 0;
}

form.password button.default-btn {
    background-color: transparent;
    border: none;
    color: #fff;
}

form.password button.default-btn::after {
    background-color: #fff;
}